<div id="lab">

    <div class="head">
        <h3>Grid Settings</h3>

        <button name="reset">RESET SETTINGS</button>
    </div>

    <div class="content">

        <div class="settings">

            <div class="item">
                <p> Always show deleted rows ? </p>
                <small>Valid only in editing mode</small>

                <label class="ui switch">
                    <input type="checkbox" name="alwaysDeleted" />
                </label>
            </div>

            <div class="item">
                <p class='slick-lab-advance-option-desc'> Always show updated rows ? </p>
                <small>Valid only in editing mode</small>

                <label class="ui switch">
                    <input type="checkbox" name="alwaysUpdated" />
                </label>
            </div>
        </div>

        <div class="list"> </div>

    </div>

    <div class="action">

        <button name="save" class="ui button transition primary">Save Settings</button>
        <button name="cancel" class="ui button transition">Cancel</button>
    </div>
</div>
