
<div id="login">
	<header>Welcome to Neoscm.js</header>

	<div class="icon user">
		<input type="text" class="ui text" name="uid" placeholder="User ID/Email" />
	</div>
	<div class="icon password">
		<input type="password" class="ui text" name="password" placeholder="Password" />
	</div>

	<div>
		<a href="https://login-beta.huawei.com/account/togetpwd.do?lc=en">Forgot Password</a> <a href="https://login-beta.huawei.com/account/modifypwd.do?lc=en">Modify Password</a>
	</div>

	<button class="ui button transition ripple primary" name="login">Login</button>
	<p class="error" style="display: none;">Invalid username or password.</p>
</div>
