
<link rel="stylesheet" href="/css/pages/slide.css" type="text/css" media="screen" charset="utf-8">

<ul id="peek">
    <li data-anchor="example" class="item active">Example</li>
    <li class="item">API
        <ul>
            <li data-anchor="html" class="item">Html</li>
            <li data-anchor="constructor" class="item">Constructor</li>
            <li data-anchor="options" class="item">Options</li>
            <li data-anchor="method" class="item">Method</li>
        </ul>
    </li>
</ul>

<section id="slide">

    <header data-anchor="example">Example</header>

    <section>
        <div class="wrap">
            <div class="ui slide open" style="width: 800px;">
                    <header class="title">Header</header>
                    <div class="content">
                            <h1>#CONTENT#</h1>
                    </div>
            </div>
        </div>
    </section>

    <br>
    <br>

    <header data-anchor="api">API</header>

    <div class="markdown">

        <section>
            <div class="ui ribbon" data-anchor="html">
                <span>HTML</span>
            </div>

            <xmp>
            <div class="ui slide open" style="width: 800px;">
                    <header class="title">Header</header>
                    <div class="content">
                            <h1>#CONTENT#</h1>
                    </div>
            </div>
            </xmp>
        </section>

        <br>
        <br>

        <section>
            <div class="ui ribbon" data-anchor="constructor">
                <span>Constructor</span>
            </div>

            <p><code>$( selector ).slide( [options] )</code>
            </p>

            <blockquote>
                <p><code>selector</code> - 选择器或 DOM 元素</p>

                <p><code>options</code> - 参数设置</p>
            </blockquote>

        <pre>
        <code>
        $( ".ui.slide" ).slide();
        </code></pre>
        </section>

        <br>
        <br>

        <section>
            <div class="ui ribbon" data-anchor="options">
                <span>Options</span>
            </div>

            <blockquote>
                <p><code>init</code> - <code>null</code>
                </p>
            </blockquote>
            <p>初始化时执行</p>
            <br>

            <blockquote>
                <p><code>class4open</code> - <code>"open"</code>
                </p>
            </blockquote>
            <p>展开时样式</p>
            <br>

            <blockquote>
                <p><code>selector4trigger</code> - <code>".title:first"</code>
                </p>
            </blockquote>
            <p>匹配触发器</p>
            <br>

            <blockquote>
                <p><code>selector4content</code> - <code>".content:first"</code>
                </p>
            </blockquote>
            <p>定位内容区域</p>
            <br>

            <blockquote>
                <p><code>onOpen</code> - <code>null</code>
                </p>
            </blockquote>
            <p>内容区域展开时执行</p>
            <br>

            <blockquote>
                <p><code>onClose</code> - <code>null</code>
                </p>
            </blockquote>
            <p>内容区域收起时执行</p>
            <br>
        </section>

        <br>
        <br>

        <section>
            <div class="ui ribbon" data-anchor="method">
                <span>Method</span>
            </div>

            <blockquote>
            <p><code>slide.open()</code></p>
            </blockquote>
            <p>展开内容区域</p>
            <br>

            <blockquote>
            <p><code>slide.close()</code></p>
            </blockquote>
            <p>关闭内容区域</p>
            <br>

            <blockquote>
            <p><code>slide.open()</code></p>
            </blockquote>
            <p>展开或收起内容区域</p>
            <br>
        </section>
    </div>

</section>

<script type="text/javascript" charset="utf-8">
require(["views/slide"], function(page) {
    page($("#slide"));
});
</script>
